/* ==UserStyle==
@name        GitHub GraphQL Explorer Fullscreen
@namespace   s4nji.com
@version     0.0.1
@homepageURL https://codeberg.org/s4nji/stylebase
@updateURL   https://codeberg.org/s4nji/stylebase/github-graphql-fullscreen.user.css
@license     Unlicense
@author      s4nji
==/UserStyle== */

@-moz-document url-prefix("https://docs.github.com/en/graphql/overview/explorer") {
main header.container-xl,
.sidebar,
body > main > main > article > h1,
body > main > main > article > div:first-child,
body > main > main ~ div,
footer {
    display: none !important;
}

main,
main.my-lg-4,
.mt-2 {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
}

.container-xl {
    max-width: 100vw;
}

html,
iframe#graphiql {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body > main > main > article > div:mt-2 {
    position: absolute !important;;
    top: 0 !important;;
    left: 0 !important;;
    width: 100vw !important;;
    height: 100vh !important;;
}

}

@-moz-document url("https://graphql.github.com/explorer") {
.graphiql-ide {
    height: 100vh;
}
}